<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Test</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
			<section id="one" class="wrapper special">
				<div style='line-height: 12px; width: 18px;font-size: 8pt;font-family: tahoma;
				     margin-top: 1px;
				     margin-right: 2px;
				     position:absolute;
				     top:0;
				     left:0;
				 '>
				 <form method = 'GET' action="/">
					<input class="button special" type="submit" value="Home">
				</form>
				</div>
				<div class="inner">
						<h2><b>Categorize images in labelled test folders</b></h2>
					<form id="CNN" method="post" autocomplete="off" action = "/test">
						<div>
						<h1>Enter directory of trained model</h1>
						<input id="model_dir" type="text" name="model_dir" value='{{model_dir}}'required>
						</div>
						<br>
						<div>
						<h1>Enter directory of test images </h1>
			      <input id="test_dir" type="text" name="test_dir" value='{{test_dir}}'required>
					 	</div>
						<br>
						<br>
				  <input class="button special" type="submit" value="Go!">
				</form>
				</div>
				<h1>Test loss:{{test_loss}}</h1>
				<h1>Test Accuracy:{{test_acc}}</h1>

			</section>


			<!-- <footer id="footer">
				<div class="copyright">
					&copy; Untitled. Design: <a href="http://templated.co/">TEMPLATED</a>.
				</div>
			</footer> -->

		<!-- Scripts -->
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->

	</body>
</html>
